<link href='http://fonts.googleapis.com/css?family=Oswald:600,700,600italic' rel='stylesheet' type='text/css'>

<h2 class="title">Notes</h2>

<section class="create-note">
  {{textarea placeholder="Add a note!" value=noteCopy}}
  <button class="savebutton" {{action 'newNote'}}>Save Note</button>
  <div class="notetext">
    {{noteCopy}}
  </div>
</section>

<div class="savenote">
  {{#each note in model}}
    <div class="note">
      <button class="deletebutton" {{local-note body=note.body id=note.id deleteNote="deleteNote"}}>Delete</button>
    </div>
  {{/each}}
</div>

{{outlet}}
